body {
  color: black;
  max-width: 1000px;
  padding-top: 2rem;
  font-size: xx-large;
  background: gray;
  background-size: 50% 100%;
  margin-left: 50px;
}

.feeds {
  margin-left: 0%;
}

.posts {
  font-size: medium;
  font-weight: bold;
  margin-left: 0%;
  margin-top: 0%;
}

.btn {
  font-size: large;
  color: default;
}

h1 {
  color: white;
}

h3 {
  color: black;
  font-size: large;
}

form {
}

input {
  size: 100;
}

p {
  font-size: medium;
  color:black;
}

/* .error-msg {
  color: rgb(212, 42, 42);
} */